/* Common */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
  width: 100vw;
}

body {
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: var(--black);
  background: var(--gradientwhite);
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --black: #000;
  --white: #fff;
  --semiwhite: #f1f1f1;
  --gradientwhite: linear-gradient(
    118.46deg,
    #f7fcff 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  --linear-blue: linear-gradient(118.46deg, #09c6f9 0%, #045de9 101.76%);
  --linear-orange: linear-gradient(118.46deg, #ff9549 0%, #ff0000 101.76%);
  --radius: .3rem;
}

.bold {
  font-weight: 700;
}

.container {
  margin: 0 25rem;
}

.btn {
  background: var(--linear-orange);
  width: 35rem;
  padding: 1rem 4rem;
  border-radius: var(--radius);
  font-weight: 500;
  font-size: 2rem;
  color: var(--white);
  border: none;
  box-shadow: -6px 8px 18px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.section-header {
  position: relative;
  left: -2rem;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.title-img {
  width: 25rem;
  position: relative;
  top: 0.5rem;
}

.title {
  font-size: 3rem;
  position: relative;
}

.title::before {
  content: '';
  width: 100%;
  height: 1.5rem;
  background: var(--linear-blue);
  position: absolute;
  z-index: -1;
  border-radius: var(--radius);
  bottom: -1rem;
  left: 5rem;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

/* .hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
  height: 100%;
  color: var(--white);
  font-size: 3rem;
  line-height: 4rem;
}

.visible{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

@keyframes visible {
    0%{
        display: flex;
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}
@keyframes hide {
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        display: none
    }
} */

/* Banner and background */
.card-bg {
  position: absolute;
  top: 0;
  right: -1rem;
  width: 110rem;
  z-index: -1;
}

.navbar {
  width: 100%;
  padding: 4rem 3rem;
}

.logo-container{
  position: relative;
  width: 40rem;
}

.banner-logo {
  width: 100%;
}

.banner-logo__slogan{
  width: 21rem;
  position: absolute;
  left: 30%;
  bottom: -0.5rem;
}

/* Section 1 */

.home {
  height: 75vh;
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}

.text-container {
  width: 50rem;
}

.slogan {
  width: 40rem;
  font-size: 3.5rem;
  line-height: 6rem;
  margin-bottom: 2rem;
  position: relative;
}

.home-text__img {
  width: 15rem;
  position: absolute;
  bottom: -0.5rem;
}

.description {
  width: 40rem;
  margin: 2rem 0;
}

/* Presentation */
.presentation-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10rem 0;
}

.card {
  width: 33rem;
  height: 32rem;
  border-radius: var(--radius);
  background: var(--gradientwhite);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 0.5rem 2rem 1rem 2rem;
  margin: 0 2rem 2rem 0;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.card::after {
  content: '';
  top: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: var(--linear-blue);
  border-radius: var(--radius);
  position: absolute;
  z-index: -1;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.card-text {
  position: relative;
  bottom: 0;
}

.card-img {
  margin: auto 0;
}

/* Banner */

.banner {
  width: 100%;
  height: 40rem;
  background: var(--linear-blue);
  position: relative;
  margin: 13rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-title {
  font-size: 3rem;
}

.banner-form {
  height: 30rem;
  width: 40%;
  color: var(--white);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.5s;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.input-group .banner-input {
  width: 45%;
}

.banner-input {
  padding: 0.7rem 3rem;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: var(--radius);
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 500;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.banner-form .btn {
  width: 35rem;
}

.banner-input::placeholder {
  color: var(--white);
}

.banner-decoration {
  width: 220rem;
  position: absolute;
  z-index: -1;
}

.banner-decoration.top {
  top: -6rem;
}
.banner-decoration.bottom {
  transform: rotate(180deg);
  bottom: -6rem;
}

/* Section How */
.how {
  margin: 10rem 0;
}

.how .section-header {
  left: 0;
}

.how__text-container {
  width: 98%;
}

.how-text {
  margin-bottom: 2rem;
}

.text-img {
  width: 15rem;
  position: relative;
  bottom: -1.35rem;
  left: -1rem;
}

/* Section Contact */
.contact .section-header {
  left: 0;
}
.contact .description {
  margin: 0;
  width: 100%;
}

.contact-form {
  width: 90rem;
  height: 42rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  margin: 3rem 0;
}

.contact-input {
  padding: 1rem 2.5rem;
  width: 100%;
  background: var(--gradientwhite);
  border-radius: var(--radius);
  border: none;
  color: var(--black);
  font-size: 1.7rem;
  font-weight: 500;
  position: relative;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.input-group__bordered,
.textarea-group__bordered {
  position: relative;
  width: 100%;
}

.input-group .input-group__bordered {
  width: 45%;
}

.linear-border {
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: var(--linear-blue);
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.textarea-group__bordered .linear-border {
  border-radius: var(--radius);
  height: 101%;
  top: -2px;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.contact-textarea {
  resize: none;
  position: relative;
  background: var(--gradientwhite);
  width: 100%;
  height: 17rem;
  border-radius: var(--radius);
  padding: 2rem 3rem;
  border: none;
  color: var(--black);
  font-size: 1.7rem;
  font-weight: 500;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.contact-textarea::placeholder,
.contact-input::placeholder {
  color: var(--black);
}

.contact .btn {
  width: 32rem;
}

/* Footer */
.footer-img {
  width: 100%;
  position: relative;
  bottom: -2rem;
}

/* NOTIFICATION */
.notification {
  position: fixed;
  right: 100%;
  bottom: 5rem;
  min-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  background: var(--linear-blue);
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.notification.error{
  background: var(--linear-orange);
}

.notification.visible{
 right: 2rem;
 transition: all 0.2s;
 -webkit-transition: all 0.2s;
 -moz-transition: all 0.2s;
 -ms-transition: all 0.2s;
 -o-transition: all 0.2s;
}

.notification__content {
  background: var(--gradientwhite);
  min-height: 5rem;
  min-width: 30rem;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  margin: .25rem .25rem;
}

.notification__content p {
  font-weight: 500;
}

/* RESPONSIVE */

@media screen and (max-width: 1640px) {
  .container {
    margin: 0 15rem;
  }
}

@media screen and (max-width: 1350px) {
  .card-bg {
    width: 70rem;
  }
}

@media screen and (max-width: 1150px) {
  .section-header {
    margin-bottom: 3rem;
  }
  .card-bg {
    width: 50rem;
  }
  .banner {
    margin: 5rem 0;
  }
  .banner-form {
    width: 90%;
  }
  .home {
    margin-bottom: 8rem;
  }
  .how {
    margin: 10rem 0;
  }
  .contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0 5rem;
  }
  .presentation-cards {
    height: 40rem;
    width: 100%;
    margin-top: 2rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    overflow: auto;
  }
  .card {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .btn {
    width: 100% !important;
  }
  .navbar {
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .banner-logo {
    margin: 0 auto;
    width: 30rem;
  }
  .card-bg {
    display: none;
  }
  .title::before {
    width: 80%;
  }
  .slogan {
    width: 80vw;
  }
  .description {
    width: 100%;
  }
  .presentation .section-header {
    display: flex;
    flex-direction: column;
  }
  .presentation-cards {
    height: 33rem;
  }
  .card {
    width: 65vw;
    height: 28rem;
  }
  .card-img {
    width: 100%;
  }
  .img-ether {
    width: 13rem;
  }
  .banner-decoration {
    width: 100vw;
  }
  .banner-decoration.top {
    top: -1rem;
  }
  .banner-decoration.bottom {
    bottom: -1rem;
  }
  .input-group {
    flex-direction: column;
    height: 9.5rem;
  }

  .input-group .banner-input,
  .input-group .input-group__bordered {
    width: 100%;
  }
}
